target/
build/
out/
*.class
*.jar
*.war
*.ear
*.aar
*.zip
*.tar.gz
*.log
.idea/
*.iml
*.iws
*.ipr
*.project
*.classpath
*.settings/
.vscode/
.gradle/*
.DS_Store
Thumbs.db
*~
checksums.lock
md5-checksums.bin
sha1-checksums.bin
executionHistory.bin
executionHistory.lock
fileHashes.bin
fileHashes.lock
resourceHashesCache.bin
buildOutputCleanup.lock
outputFiles.bin
.gradle/file-system.probe
.gradle/
